<script src="../../js/products/handleEditProduct.js"></script>

<div class="w-screen bg-gray-background flex items-center justify-center" style="min-height: calc(100vh);">
    <form class=" p-4 w-380 rounded-md flex items-center flex-col shadow-lg gap-y-2.5 bg-white">
        <h3 class="title">Editar Produto</h3>

        <input type="hidden" value="{{produto.id}}" name="id">

        <label for="name">Nome do Produto</label>
        <input id="name" value="{{produto.name}}" name="name" type="text" placeholder="Blusa Básica" class="input-facebook">

        <label for="price">Valor</label>
        <input value="{{produto.price}}" pattern="^\d*\.?\d*$" id="price" name="price" type="text" placeholder="20.89" class="input-facebook">

        <label for="reference">Referência</label>
        <input value="{{produto.reference}}" id="reference" name="reference" type="text" placeholder="664" class="input-facebook">

        <label for="quantity">Quantidade</label>
        <input value="{{produto.quantity}}" id="quantity" name="quantity" type="number" placeholder="5" class="input-facebook">

        <hr class="w-full m-4 border-gray-300 border">
        
        <button type="submit" class="h-12 w-full bg-red-800 rounded-md text-white">Editar produto</button>
    </form>
</div>