<script src="../../js/products/handleRemoveProduct.js"></script>

<div style="min-height: calc(100vh);">
    <div class=" container mx-auto p-8">
        <h1 class="text-2xl mb-4">Lista de Produtos</h1>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border rounded">
                <thead class="bg-red-800 text-white">
                    <tr>
                        <th class="py-2 px-4">ID</th>
                        <th class="py-2 px-4">Nome</th>
                        <th class="py-2 px-4">Referência</th>
                        <th class="py-2 px-4">Quantidade</th>
                        <th class="py-2 px-4">Valor</th>
                        <th class="py-2 px-4">Tipo</th>
                        <th class="py-2 px-4">Ações</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    {{#each produtos}}
                        <tr>
                            <td class="border px-4 py-2">{{this.id}}</td>
                            <td class="border px-4 py-2">{{this.name}}</td>
                            <td class="border px-4 py-2">{{this.reference}}</td>
                            <td class="border px-4 py-2">{{this.quantity}}</td>
                            <td class="border px-4 py-2">{{this.price}}</td>
                            <td class="border px-4 py-2">{{this.type}}</td>
                            <td class="border px-4 py-2">
                                <a href="/products/edit/{{this.id}}" class="text-blue-500 hover:text-blue-700 mr-2"><i class="fas fa-edit"></i></a>
                                {{!-- <button class="text-red-500 hover:text-red-700"><i class="fas fa-trash-alt"></i></button> --}}
                                <!-- Modal toggle -->
                                <button data-modal-target="default-modal-{{id}}" data-modal-toggle="default-modal-{{id}}" class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


{{#each produtos}}
    <!-- Main modal -->
    <div id="default-modal-{{id}}" tabindex="-1" class="hidden default-modal overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-800 bg-opacity-75">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Confirmar exclusão
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal-{{id}}">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        Tem certeza que deseja excluir {{name}}?
                    </p>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600 mr-2">
                    <button data-product-id="{{id}}" class="btn-remove-product text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Confirmar
                    </button>
                    <button data-modal-hide="default-modal-{{id}}" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{{/each}}